:root {
  --border-color-1: linear-gradient(
    135deg,
    #fffb90 14.32%,
    #fbea78 25.04%,
    #f8dc65 32.44%,
    #e6c758 34.8%,
    #c5a041 39.83%,
    #ad8330 44.46%,
    #9e7226 48.48%,
    #996c22 51.45%,
    #9d7126 53.71%,
    #aa8131 56.55%,
    #be9b42 59.7%,
    #dabe5b 63.05%,
    #fbe878 66.32%,
    #ffffaa 72.82%,
    #fbe878 77.44%,
    #a4631b 90.06%
  );
  --border-color-2: linear-gradient(
    233.3deg,
    #00435e 35.38%,
    #000604 94.78%
  );
  --size: 400px;
}